

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --font-family: "Montserrat", sans-serif;
  --second-family: "Ubuntu", sans-serif;
  --third-family: "Cy Grotesk", sans-serif;
  --font3: "Bebas Neue", sans-serif;
}

@font-face {
  font-family: "Bebas Neue";
  src: url('fonts/Bebas/BebasNeueBold.woff2');
}
@font-face {
  font-family: "Montserrat", sans-serif;
  src: url('fonts/Montserrat/Montserrat-Regular.woff2');
}



body {
  width: 100%;
  height: 100vh;   
}

.page-wrap {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.table-img {
  width: 65vw;
  height: 100%;
}
.table-block {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.ergonomy-block {
  display: flex;
  flex-direction: column;
  max-width: 646px;
  width: 100%;
  margin-right: 201px;
}

.ergonomy-block__headline {
  font-family: var(--second-family);
  font-weight: 300;
  font-size: 62px;
  line-height: 100%;
  color: #0b64fe;
  width: 21vw;
  margin-top: 25px;
}

.ergonomy-block__describe {
  font-family: var(--second-family);
  font-weight: 300;
  font-size: 22px;
  line-height: 170%;
  color: #181818;
  margin-top: 68px;
  width: 76%;
}

.describe-continue {
  font-family: var(--second-family);
  font-weight: 300;
  font-size: 22px;
  line-height: 170%;
  color: #181818;
  margin-top: 28px;
  width: 76%;
}


.top-button, .down-button {
  font-family: var(--second-family);
  font-weight: 300;
  font-size: 40px;
  line-height: 170%;
  color: #000;
  border-radius: 100%;
  background-color: #a6ffff;
  width: 200px;
  height: 200px;
  cursor: pointer;
}

.table-block__buttons {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-width: 474px;
  bottom: 20%;
  cursor: pointer;
  transition: 1s;
}

.table-block-frames {
  display: flex;
  flex-direction: column;
}

.table-down-frame-block {
  display: flex;
  position: relative;
  justify-content: center;
}
.table-top-frame {
  position: absolute;
  top: 75px;
  transition: 1s;
}

.table-active {
  top: -40px;
}

.table-block-mobile {
  display: none;
}

.mobile-table {
  display: none;
}


 /* Yamaguchi block  */

.yamaguchi-voice-block {
    width: 100%;
    display: flex;
    background-color: #181818;
    z-index: 7;
    position: relative;
    overflow-y: hidden;
    padding-bottom: 87px;
}

.yamaguchi_back {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 5;
}

.yamaguchi-voice-block__text-describe {
    display: flex;
    max-width: 670px;
    flex-direction: column;
    padding: 72px 0 0 99px;
    z-index: 5;
}

.headline {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 56px;
    line-height: 90%;
    color: #fff;
    max-width: 20vw;
}

.yamaguchi-voice-block__describe {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 22px;
    line-height: 170%;
    color: #fff;
    margin-top: 65px;
    max-width: 510px;
}

  .yamaguchi-voice-block__speak-headline {
font-family: var(--font-family);
font-weight: 900;
font-size: 44px;
line-height: 90%;
color: #fff;
  }

.yamaguchi-voice-block__ok-yamaguchi {
    font-family: var(--font-family);
    font-weight: 900;
    font-size: 61px;
    line-height: 90%;
    color: #fff;
    display: flex;
    width: 100%;
    margin-top: 33px;
    justify-content: center;
    margin-left: 59px;
}

.yamaguchi-voice-block__speak-block {
    display: flex;
    margin-top: 55px;
    flex-direction: column;
}

.yamaguchi-voice-block__woman-figure_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 435px;
    width: 100%;
    position: relative;
}

.yamaguchi-voice-block__device-block {
    display: flex;
    z-index: 5;
}

.device-img {
  width: 100%;
}

.woman_figure {
    position: relative;
    transition: 2s;
    animation: womanVisibleAnimation 6s, levitation 12s infinite;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
    z-index: 3;
    -webkit-animation: womanVisibleAnimation 6s, levitation 12s infinite;
    z-index: 18;
}

.woman_figure__tube {
  display: flex;
}


.yamaguchi-voice-block__tube-woman {
    display: flex;
    flex-direction: column;
    max-width: 435px;
    width: 100%;
    position: relative;
    top: 700px;
    height: 600px;
    align-items: center;
    z-index: 7;
}


@keyframes levitation {
10% {
    bottom: -100px;
    transition: 4s;
    -webkit-transition: 4s;
    -moz-transition: 4s;
    -ms-transition: 4s;
    -o-transition: 4s;
}
20% {
    bottom: -200px;
    transition: 2s;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
}
  30% { 
     bottom: -100px;
      transition: 2s;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s; 
  }
  40% { 
     bottom: -200px;
      transition: 2s;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s; 
  }
  50% { 
     bottom: -200px;
      transition: 2s;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s; 
  }
  60% { 
     bottom: -100px;
      transition: 2s;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s; 
  }
  70% { 
     bottom: -100px;
      transition: 2s;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s; 
  }
  80% { 
     bottom: -200px;
      transition: 2s;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s; 
  }
  90% { 
     bottom: -100px;
      transition: 2s;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s; 
  }

  100% { 
    bottom: -200px;     
       transition: 2s;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
  }
}

@keyframes womanVisibleAnimation {

  from {  
    bottom: -800px;     
    position: absolute;    
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;    
  }
  to {
    position: absolute;    
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    bottom: -100px;
}
  
}


.woman_figure_circle {
    display: flex;
    animation: widthCircle;
    -webkit-animation: widthCircle;
    bottom: 20px;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    position: absolute;
    z-index: 10;
    width: 193px;
}

@keyframes widthCircle {
  20% {
    transform: scale(1);
    width: 150px;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

40% {
  opacity: 1;
   width: 200px;
}

60% {
  width: 100px;
}

100% { 
  width: 193px; 
}
  
}

.yamaguchi-voice-block__block-circle {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: auto;
}

@media screen and (max-width: 435px) {

    .page-wrap {
        flex-direction: column;
        align-items: center;
        padding: 12px 12px 12px 13px;
        justify-content: flex-start;
    }
  .table-block {
    display: none;  
}

    .ergonomy-block {
        margin-right: 0;
    }

    .ergonomy-block__headline {
        font-family: var(--font3);
        font-weight: 700;
        font-size: 38px;
        line-height: 100%;
        width: 70%;
        margin-top: 0;
    }

.table-block-frames {
    display: flex;
    flex-direction: column;
    width: 100%;
} 


    .table-down-frame {
        position: absolute;
    }

    .yamaguchi-voice-block {       
    width: 100%;
    display: flex;
    background: url('img/yamaguchi-voice-block__back.png');
    background-color: #2C2C2C;
    z-index: 7;
    position: relative;
    overflow-y: hidden;
}  
    


.yamaguchi-voice-block__describe {   
    hyphens: auto;
    word-break: auto-phrase;
    width: 100%;
}

.yamaguchi-voice-block__speak-headline {
    font-family: var(--font-family);
    font-weight: 900;
    font-size: 38px;
    line-height: 90%;
    color: #fff;
}

    .yamaguchi-voice-block__ok-yamaguchi {
        font-weight: 400;
    }

@keyframes womanVisibleAnimation {

  from {  
    bottom: -700px;     
    position: absolute;    
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;    
  }
  to {
    position: absolute;    
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    bottom: -100px;
}
  
}

    .device-img {
        position: absolute;
        width: 100%;
        left: 30px;
    }

@keyframes levitation {
20% {
    bottom: 300px;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}
  40% { 
     bottom: 50px; 
       transition: 1s;
  }
  60% { 
     bottom: 10px; 
       transition: 1s;
  }
  80% { 
     bottom: 50px; 
      
  }
  100% { 
    bottom: 10px;     
      transition: 1s;
  }
}

    .top-button, .down-button {
        font-size: 12px;
        width: 62px;
        cursor: pointer;
        height: 62px;
        border: none;
    }

    .ergonomy-block__describe {
        width: 100%;
        font-size: 16px;
        margin-top: 20px;
        position: relative;
    }

    .table-block__buttons {
        max-width: 144px;
        bottom: 0%;
    }

    .table-active {
        top: 0px;
    }

    .table-block-mobile {
        display: flex;
        overflow: hidden;
    }


     .table-block-frames {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .mobile {
      display: flex;
    }
     .table-top-frame {
        top: 20px;
        transition: 1s;
        width: 100%;
    }

     .table-active {
        top: -40px;
    }

    .describe-continue {
        margin-top: 70px;
    }

    .table-down-frame-block {
        height: 266px;
        overflow: hidden;
    }

      .mobile-table {
        display: flex;
        position: relative;
        width: 100%;
    }

    /* Yamaguchi block  */
    
.yamaguchi-voice-block__text-describe {
    display: flex;
    max-width: 670px;
    flex-direction: column;
    padding: 17px 0 0 17px;
}

.headline {
  font-family: var(--font-family);
font-weight: 400;
font-size: 34px;
line-height: 100%;
color: #fff;
}

    .yamaguchi-voice-block__device-block {
        width: 100%;
        position: relative;
        height: 630px;
        margin-top: 60px;
        overflow: hidden;
    }

    .yamaguchi-voice-block__woman-figure_block {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        max-width: 435px;
        width: 100%;
        height: 756px;
    }

    .woman_figure {
        bottom: 150px;
        position: relative;
        transition: 2s;
        animation: womanVisibleAnimation 4s ease, levitation 10s infinite ease;
        -webkit-transition: 2s;
        -moz-transition: 2s;
        -ms-transition: 2s;
        -o-transition: 2s;
        z-index: 3;
        -webkit-animation: womanVisibleAnimation 4s ease, levitation 10s infinite ease;
    }

    .yamaguchi-voice-block__speak-block {
        display: flex;
        margin-top: 55px;
        flex-direction: column;
        order: 4;
        position: absolute;
        bottom: 0;        
    }
}

  





 